 
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
     button{
        padding: 9px;
        font-size: 30px;
        width: 20vmin;
        border-radius: 10px;
    
     }
     input{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        text-align: right;
        font-size: 1.2em;
     }
     button.operand{
        background-color: white;
        color: black;
    
     }
    button.operator   {
        background-color: red;
    }
    button.clear {
        background-color: red;
    }
 