 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
header {
  text-align: center;
}

nav {
  background-color: rgb(27, 21, 21);

  padding: 5px;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
li a {
  text-decoration: none;
  margin-right: 5px;
  color: white;
}
a:hover {
  background-color: rgb(230, 37, 37);
  color: rgb(33, 33, 218);
}
.submit-btn {
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: green;
  color: rgb(242, 232, 232);
  cursor: pointer;
}
fieldset {
  background-color: skyblue;
}
footer {
  bottom: 0;
  background-color: rgb(24, 18, 18);
  color: rgb(238, 226, 226);
  position: fixed;
  width: 100%;
  padding: 5px;
}
